<div id="sign_in_div">
 <form action="/register" method="POST">
<label id="name">Name: </label><input type="text" name="name"><br>
<label id="email">Email: </label><input type="text" name="email"><br>
<label id="password">Password: </label><input type="password" name="password"><br>
<input type="submit" name="submit" value="Register Now">
</form>

</div> 