<div id="sign_in_div">
<form action="/signin" method="POST">
<label id="email">Email: </label><input type="email" name="email"><br><br>
<label id="password">Password: </label><input type="password" name="password"><br><br>
<input type="submit" name="submit" value="Sign In" id="submit"> <br> 
</form>
<br> <br> 
<a href="/signup">New User? Register Now! </a>

</div> 
